BasedOnStyle: Chromium
---
Language: Cpp
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
ColumnLimit: 0
Cpp11BracedListStyle: false
IncludeBlocks: Merge
IndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
