[submodule "vendor/vstd"]
	path = vendor/vstd
	url = https://github.com/vslinko/vstd.git
[submodule "vendor/JSONTestSuit"]
	path = vendor/JSONTestSuit
	url = https://github.com/nst/JSONTestSuite.git
[submodule "vendor/json-parser"]
	path = vendor/json-parser
	url = https://github.com/udp/json-parser.git
